* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: rgb(143, 157, 165);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  color: yellow;
  width: 100vw;
  height: 80px;
  background-color: lightseagreen;
  padding-top: 10px;
  border: 10px solid;
}
.enterForm {
  width: 100vw;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  border: 15px solid yellow;
}
#form1 {
  background-color: lightseagreen;
  font-size: 2rem;
}
input {
  font-size: 2rem;
  border-radius: 15px;
  border: 5px solid lightcoral;
  background-color: lightpink;
}
